/* You can add global styles to this file, and also import other style files */
$equalKeyColor: #db9fe2;
$bottomKeyColor:#424040;
$upperKeyColor: #303030;
$whiteColor: #ffffff;
$dispalyFontSize: 70px;
*{
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: #212020;
}

.navbar{
    height: 10vh;
}

.display-container input{
    border: none;
    height: 27vh;
    width: 78.5%;
    text-align: right;
    font-size: $dispalyFontSize;
    color: $whiteColor;
}

button{
    border: none;
    width:19.5%;
    height: 10vh;
    margin: 0.3px;
    border-radius: 5px;
    background: $upperKeyColor;
}

button:hover{
    background: $bottomKeyColor;
}

.number{
    background: $bottomKeyColor;
}

.number:hover{
    background: $upperKeyColor;
}

#equalToKay{
    background: $equalKeyColor;
}


